<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <img src="/assets/logo.png" class="image" />
    </div>
    <h5 class="h5">
      Welcome!
    </h5>
    <h6 class="h6">
      Log in to your account to continue
    </h6>
    <p class="igx-typography__subtitle-1 text">
      Log in to your account to continue
    </p>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Username</label>
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <div class="row-layout group_3">
      <p class="text_1">
        Forgot Password?
      </p>
    </div>
    <button igxButton="raised" igxRipple class="button">
      Login
    </button>
  </div>
</div>
